@import "./global.scss";

.contact-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 48px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 36px;
      text-align: center;
    }
  }

  .subtitle {
    font-family: $poppins;
    // color: $light-text;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
    // font-weight: 550;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 0 1rem;
    }
  }
}

.contact-us {
  font-family: $poppins;
  display: flex;
  gap: 8rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: $sectionPaddingHigh 0;

  @media (max-width: 1024px) {
    gap: 4rem;
    padding: $sectionPaddingHigh 2rem;
    padding: 0;
    padding-bottom: 3rem;
    max-width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 3rem;
  }

  .contact-form-section {
    flex: 1;

    .form-row {
      display: flex;
      gap: 3rem;
      margin-bottom: 24px;

      @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
      }
    }

    .form-group {
      flex: 1;
      margin-bottom: 24px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 500;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 16px;
        border: 1px solid $light-text;
        background-color: transparent;
        color: black;
        border-radius: 8px;
        font-size: 16px;

        &::placeholder {
          color: $light-text;
        }
      }

      .phone-input {
        display: flex;
        gap: 12px;

        .country-code {
          width: 100px;
        }
      }

      textarea {
        resize: vertical;
      }
    }

    .send-message {
      padding: 16px 4rem;
      background: #000;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background: #333;
      }
    }
  }

  .contact-info {
    width: 400px;

    @media (max-width: 768px) {
      width: 100%;
    }

    h2 {
      font-size: 24px;
      margin: 32px 0 8px;
      margin-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      color: $light-text;
      margin-top: 0;
      margin-bottom: 16px;
    }

    .contact-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      margin-bottom: 32px;
    }

    .contact-link {
      color: #000;
      text-decoration: none;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      gap: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}