@import "./global.scss";

.contact-list {
  display: flex;

  justify-content: flex-start;
  gap: 2rem;
  border-top: 1px dashed #ccc;
  padding: $sectionPaddingLow 0;

  padding-bottom: 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .contact-item {
    text-align: left;
    // max-width: 200px;
    width: 100%;

    .icon {
      .icon {
        font-size: 48px;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: 36px;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
      font-family: $poppins;
      color: $primary-text;
    }

    a {
      color: $light-text;
      text-decoration: none;
      font-family: $poppins;
      font-style: italic;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}