@import "./global.scss";
// SuccessMetrics.scss
$primary-color: #2C3E50;
$accent-color: #E74C3C;
$background-color: #F8F9FA;

.success-metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: $sectionPaddingHigh;
  // background-color: #333;

  @include breakpoint(md) {
    padding: $sectionPaddingHigh 0;
    padding-bottom: 0;
  }

  .header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    @include breakpoint(md) {
      flex-direction: row;
      gap: 2rem;
    }

    .section-title {
      // max-width: 500px;
      color: $primary-text;
      margin-bottom: 0rem;
      font-weight: 600;
      font-size: $headerFont;
      line-height: $headerFont;
      margin: 0;

      @include breakpoint(md) {
        font-size: $headerFont-sm;
        line-height: $headerFont-sm;

        // font-size: 2rem;
        // margin-bottom: 3rem;
      }
    }

    .section-description {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: flex-start;
      gap: 1rem;
      width: 100%;

      p {
        font-size: 18px;
        line-height: 27px;
        color: $light-text;
        font-family: $poppins;
        margin: 0;
      }
    }
  }

  .metrics-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    // max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;

    @include breakpoint(md) {
      flex-direction: row;
    }

    .metric-card {
      cursor: pointer;
      // background: white;
      // padding: 2rem;
      // border-radius: 12px;
      // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      // transition: transform 0.3s ease;
      border-left: 2px solid black;
      padding-left: 1rem;
      width: 100%;

      &:hover {
        transform: translateY(-5px);
      }

      margin-bottom: 1.5rem;

      @include breakpoint(md) {}

      .metric-value {
        font-size: $headerFont;
        color: $primary-text;
        margin: 0;
        font-weight: 700;
      }

      .metric-title {
        font-size: 1.2rem;
        color: $light-text;
        margin: 0;
        font-weight: 600;
      }

      .metric-description {
        color: $light-text;
        line-height: 1.6;
        font-size: $descriptionFont;
      }
    }
  }

}