@import "./global.scss";
// SuccessMetrics.scss
$primary-color: #2C3E50;
$accent-color: #E74C3C;
$background-color: #F8F9FA;

.success-metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $sectionPaddingHigh 0;
  // background-color: #333;

  .header-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .section-title {
      font-size: $headerFont-sm;
      line-height: $headerFont-sm;
      // max-width: 500px;
      color: $primary-text;
      margin-bottom: 0rem;
      font-weight: 600;
    }

    .section-description {
      width: 100%;

      p {
        font-size: 18px;
        line-height: 27px;
        color: $light-text;
        font-family: $poppins;
      }
    }
  }

  .metrics-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    cursor: pointer;

    .metric-card {
      cursor: pointer;
      // background: white;
      // padding: 2rem;
      // border-radius: 12px;
      // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      // transition: transform 0.3s ease;
      border-left: 2px solid black;
      padding-left: 1rem;
      width: 100%;

      &:hover {
        transform: translateY(-5px);
      }

      .metric-value {
        font-size: $headerFont;
        color: $primary-color;
        margin: 0;
        font-weight: 700;
      }

      .metric-title {
        font-size: 1.2rem;
        color: $primary-color;
        margin: 0;
        font-weight: 600;
      }

      .metric-description {
        // color: $light-text;
        line-height: 1.6;
        font-size: $descriptionFont;
      }
    }
  }

  @media (max-width: 768px) {
    .header-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;

      h2 {
        margin: 0
      }
    }

    .section-title {
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    .metrics-grid {
      flex-direction: column;
      align-items: center;

      .metric-card {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
  }

  @media (max-width: 480px) {
    padding: $sectionPaddingLow 0;

    .section-title {
      font-size: 1.5rem;
      margin: 0;
    }

    .metrics-grid {
      .metric-card {
        padding-left: 0.5rem;
      }
    }
  }
}