@import "./global.scss";

.together {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: $sectionPaddingHigh 0;
  max-width: 100%;
  overflow: hidden;

  .together-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0px;
    width: 50%;
    max-width: 600px;

    .subtitle {}

    @media (min-width: 768px) {
      padding: 20px;
    }

    p {
      margin-bottom: 20px;
      font-family: $poppins;
    }

    .together-buttons {}
  }

  .together-image {
    display: none;
    width: 50%;

    /* Add image styles here */
    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 1024px) {
      // display: none;
    }

    .img-container {
      height: 400px;
      max-width: 700px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}