@import "./global.scss";

.trusted-brand-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.trusted-brand {
  // background-color: $dark; // Use a variable from global.scss
  // color: $text-color; // Use a variable from global.scss
  padding: 6rem 0;
  // padding-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $roboto;
  max-width: 100%;
  overflow: hidden;

  position: relative;
  width: 100%;

  &__text {
    // margin-bottom: 20px;
    font-size: 1.6rem;
    margin: 0;
    font-family: $inter;
  }

  &__logos {
    display: flex;
    justify-content: center;
    gap: 4rem;
    overflow: hidden;

    position: absolute;
    left: 0;
    width: max-content;

    .img-wrapper {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 150px;
      height: auto;
    }
  }
}