@import "./styles/global.scss";

:root {
  // max-width: 1180px;
  margin: 0 auto;
  // padding: 2rem;
  font-family: "Roboto", sans-serif;
  // font-family: $poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  color: $primary-text;
  background-color: $dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // --brand: #3498db;
}

a {
  font-weight: 500;
  color: $primary-text;
  text-decoration: inherit;
  transition: color 0.3s;
}

a:hover {
  color: $secondary-text;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}